{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="NetShop is your place to buy or sell things in the internet">
<meta name="author" content="Lukasz Lenart">
<meta property="og:title" content="NetShop | About">
<meta property="og:description" content="NetShop is your place to buy or sell things in the internet">
<meta property="og:type" content="article">
<meta property="og:url" content="http://netshop.com/about">
{% endblock %}

{% block content %}
    <h1>About</h1>
{% endblock %}